# Y = M1 X + M2 X + M3 X + C, HERE M IS COEFFICIENT & C IS INTERCEPT

In [38]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [39]:
 data = pd.read_csv("bike selling.csv")

In [43]:
data

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

# To fillup into NaN value

In [44]:
set_val = data.ex_showroom_price.median()

In [45]:
set_val

72752.5

In [46]:
data.ex_showroom_price = data.ex_showroom_price.fillna(set_val)

In [47]:
data.ex_showroom_price

0        72752.5
1        72752.5
2       148114.0
3        89643.0
4        72752.5
          ...
1056     52000.0
1057     51000.0
1058     57000.0
1059     58000.0
1060     75000.0
Name: ex_showroom_price, Length: 1061, dtype: float64

# Creating object for Linear Regression

In [48]:
lin_reg  = linear_model.LinearRegression()

# Time to train

In [59]:
lin_reg.fit(data[['year','km_driven','selling_price']],data.ex_showroom_price)

LinearRegression()

# Predicting ex_showroom_price

In [61]:
lin_reg.predict([[2009,53000,12000]])

array([55227.4028417])

# Checking manually

In [62]:
lin_reg.coef_

array([-3.22623007e+03,  3.00278895e-02,  8.97579680e-01])

In [63]:
lin_reg.intercept_

6524361.178953994

In [64]:
x1 = -3.22623007e+03*2009 + 3.00278895e-02*53000 + 8.97579680e-01 *12000 + 6524361.178953994

In [65]:
x1

55227.402627493255