In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
ds = pd.read_csv('data.csv')
ds

   area   price
0  2600   55000
1  3000   56500
2  3200   61000
3  3600   68000
4  4000   72000
5  5000   71000
6  2500   40000
7  2700   38000
8  1200   17000
9  5000  100000